# Nexon Open API
NEXON_OPEN_API_KEY=

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=maplemetric
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

SPRING_PROFILES_ACTIVE=local

OPENAI_API_KEY=
OPENAI_MODEL=
OPENAI_ENABLED=false
